# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
npm-debug.log*

# Node
node_modules/
dist/
.next/

# Env
.env*
!.env.example

# Data
server/data/*.json
server/data/*.bak
server/data/uploads/*
!server/data/uploads/.gitkeep
